<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Change Log</title>
    <style type="text/css">
    a{
      color:blue;
    }
    #updates{
      opacity:0;
    }
    #home{
      margin-left:450px;
      margin-right:20px;
    }
    .update{
      font-size:18px;
    }
    .coming_soon{
      font-size:18px;
      color: darkgreen;
      background-color:yellow;
      display:table;
    }
    </style>
  </head>
  <body>
    <a id="updates" href="/updates">Updates</a>
    <a id="home" href="/travels">Home</a>
    <a href="/logout">Logout</a>
    <h1>Updates</h1>
    <p class="coming_soon">COMING SOON: You can now delete your travel plan within 24 hours of creating it.</p>
    <p class="update">4/29/2017: Travel destination page now displays the travel plan's posted date and time</p>
    <p class="update">4/29/2017: Travel plans will now be removed from My Trip Schedules once its travel start date passes today's date.</p>
    <p class="update">4/28/2017: Travel destination page now displays the users' join dates and times for that plan.</p>
    <p class="update">4/27/2017: Now supports bail feature. (you can only bail on other users' trips that you've joined)</p>
    <p class="update">4/26/2017: Initial launch</p>
  </body>
</html>
